:root {
    --accent-second-color: #2196F3;
    --hero-button-active-color: #188ce8;
    --accent-color: #ffffff;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --logo-first-color: #000000;
    --accent-text-color: #212121;
    --sub-text-color: #757575;
    --portfolio-btn-color: #F5F4FA;
    --pec-container-color: #f5f4fa;
    --social-link: #afb1b8;
    --animation-time: 250ms ;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

ul,
ol {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* --------------------MODAL-------------------- */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    min-height: 581px;
    min-width: 528px;
    padding: 40px;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: var(--accent-color);
    z-index: 100;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--accent-text-color);
    margin-bottom: 12px;
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close-modal {
    transition: fill 250ms var(--cubic);
}

.close-modal:hover {
    fill: var(--accent-second-color);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--sub-text-color);
    margin-bottom: 4px;
}

.modal-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-modal {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding-left: 42px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 250ms var(--cubic);
}

.input-modal:focus {
    border-color: var(--accent-second-color);
}

.input-modal:focus ~ .name-icon {
    fill: var(--accent-second-color);
}

.input-modal:focus {
    border-color: var(--accent-second-color);
}

.name-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: var(--accent-text-color);
    transition: fill 250ms var(--cubic);
}

.comment-field {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 250ms var(--cubic);
}

.comment-field:focus {
    border-color: var(--accent-second-color);
}

.modal-button {
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    width: 200px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color: var(--accent-second-color);
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    padding: 10px 55px;
    margin-top: 30px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic);
}

.modal-button:hover, .modal-button:focus {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    background-color: #188ce8; 
}

.policy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.checked {
    display: block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid var(--accent-text-color);
    display: inline-block;
    cursor: pointer;
    margin-left: 13px;
    fill: var(--accent-color);
    transition: 250ms var(--cubic);
}

.about-text {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--sub-text-color);
}

.terms {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--accent-second-color);
}

.terms::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: translateY(-5px);
    background-color: var(--accent-second-color);
}


/*-------------------HEADER-------------------*/


.header {
    border-bottom: 1px solid #ececec;
}

.h-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.header-navigation {
    display: flex;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--logo-first-color) ;
}

.logo-fp {
    color: var(--accent-second-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway', sans-serif;
}

.header-link.link:hover,
.header-link.link:focus {
    color: var(--accent-second-color);
}



.header-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    transition: color 250ms var(--cubic);
}

.header-item .link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 33px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
    transition: color 250ms var(--cubic);
}

.header-item .studio-link,
.header-item .portfolio-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-second-color);
}

.studio-link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #188ce8;
    border-radius: 2px;
}

.portfolio-link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #188ce8;
    border-radius: 2px;
}

.header-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
    padding: 0px;
    margin-bottom: 0;
    color: var(--header-text-color);
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-info {
    margin-left: auto;
    display: flex;
    color: var(--sub-text-color);
}

.header-info .item + .item{
    margin-left: 50px;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-second-color);
}

.contact-icon-mail:hover,
.contact-icon-mail:focus,
.contact-icon-phone:hover,
.contact-icon-phone:focus {
    fill: var(--accent-second-color);
}

.header-contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--sub-text-color);
    transition: color 250ms var(--cubic);
}

.contact-icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}

.contact-icon-phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: currentColor;
}


/*-------------------HERO-------------------*/


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;    
    margin: 0 auto;
}

.hero-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-active-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.hero-button {
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    letter-spacing: 0.06em;
    border:none;
    background-color: var(--accent-second-color);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.15);
    display: inline-block;
    padding: 10px 32px;
    transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic);
    cursor: pointer;
}


/*-------------------ОСОБЕННОСТИ-------------------*/


.peculiarities {
}

.peculiarities-icon-list {
    display: flex;
}

.peculiarities-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    min-height: 120px;
    border-radius: 4px;
    background-color: var(--pec-container-color);
    margin-bottom: 30px;
    margin-right: 30px;
}

.peculiarities-icon-container:not(:last-child) {
    margin-right: 30px;
}

.antenna {
    width: 70px;
    height: 70px;
}

.clock{
    width: 70px;
    height: 70px;
}

.diagram{
    width: 70px;
    height: 70px;
}

.astronaut{
    width: 70px;
    height: 70px;
}

.peculiarities-list {
    display: flex;
}

.peculiarities-item:not(:last-child) {
    margin-right: 30px;
}

.peculiarities-title {
    width: 270px;
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.peculiarities-info {
    width: 270px;
    height: 75px;
    line-height: 1.71;
    color: var(--sub-text-color);
    margin-top: 10px;
}


/*-------------------SKILLS-------------------*/


.skills {
    padding-top: 0;
}

.skills-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.skills-list {
    display: flex;
}

.skills-list .img {
    position: relative;
}

.skills-list .img + .img {
    margin-left: 30px;
}

.skills-description-container {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
}

.skills-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-color);
    text-align: center;
    text-transform: uppercase;
}


/*-------------------TEAM-------------------*/


.team {
    background-color:var(--team-bg-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;

}

.team-item {
    text-align: center;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.master {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 30px;
}

.job {
    font-size: 16px;
    line-height: 1.18;
    color: var(--sub-text-color);
    margin-top: 10px;
}

.team-box {
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.team-button-icon:hover,
.team-button-icon:focus {
    background-color: #188ce8
}

.team-social-item:not(:last-child) {
    margin-right: 10px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition:fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-second-color);
}

.team-social-icon:hover,
.team-social-icon:focus {
    fill: #ffffff;
}

.team-social-icon {
    fill: var(--social-link);
    width: 44px;
    height: 44px;
    
}


/* -------------------CLIENTS------------------- */


.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.client-list {
    display: flex;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition:fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.client:hover, 
.client-link:hover {
    fill: var(--accent-second-color-color);
    border-color: #2196f3;
}

.client {
    fill: #afb1b8;
    width: 172px;
    height: 94px;
    transition:fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.client:hover,
.client:focus {
    fill: var(--accent-second-color);
}


/*-------------------FOOTER-------------------*/


.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
}

.footer-info {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}

.footer-sign-up {
    margin-left: auto;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-map {
    line-height: 1.71;
    color: var(--accent-color);
}

.footer-link {
    line-height: 1.71;
    color: var(--accent-color);
    opacity: 60%;
}

.f-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.adress {
    display: block;
    margin-top: 20px;
}

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.f-social-list {
    display: flex;
}

.f-social-item:not(:last-child) {
    margin-right: 10px;
}

.f-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.f-social-icon {
    width: 44px;
    height: 44px;
}

.f-social-link:hover,
.f-social-link:focus {
    background-color: var(--accent-second-color);
}

.footer-wrap {
    display: flex;
    align-items: center;
}

.input-footer {
    margin: 0;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--footer-bg-color);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    transition: border-color 250ms var(--cubic);
}

.input-footer:focus {
    border-color: var(--accent-second-color);
}

.sign-button {
    display: inline-flex;
    margin-left: 12px;
    align-items: center;
    padding: 10px 28px 10px 29px;
    border-radius: 4px;
    border: 2px solid transparent;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color: var(--accent-second-color);
    cursor: pointer;
    transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic);
}

.sign-button:hover, .sign-button:focus {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    background-color: #188ce8;
}

.sign-up-button {
    fill: var(--accent-color);
    margin-left: 10px;
}





/*-------------------PORTFOLIO-------------------*/





.projects {

}

.projects-buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-button:hover,
.projects-button:focus {
    background-color: var(--accent-second-color);
    color: var(--accent-color);
}

.projects-button-item:not(:last-child) {
    margin-right: 8px;
}

.projects-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--portfolio-btn-color);
    border: var(--accent-second-color);
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic);
    cursor: pointer;
}

.projects-button:hover,
.projects-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project:hover,
.project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 370px;
    display: inline-block;
    transition: box-shadow var(--animation-time) var(--cubic);
}

.project-info {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.project:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project:not(:nth-child(3n)) {
    margin-right: 30px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--accent-text-color);
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-style {
    font-size: 16px;
    line-height: 1.88;
    color: var(--sub-text-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    padding: 63px 24px 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--accent-color);
}