.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item:not(:first-child) {
        margin-left: 30px;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
        fill: $accent-color;
    }

    &__link {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
        color: $text-color;
        text-decoration: none;

        transition: color $animation-time $cubic;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}